<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Creepster&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper-bundle.min.css">  
  <title>Digital-Commerce-Charm</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="./assets/css/style-prefix.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/style2.css">
  <link rel="stylesheet" href="assets/css/login.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"rel="stylesheet">

</head>



<body>


  <div class="overlay" data-overlay></div>

  <!--
    - MODAL
  -->

  <div class="modal" data-modal>

    <div class="modal-close-overlay" data-modal-overlay></div>

    <div class="modal-content">

      <button class="modal-close-btn" data-modal-close>
        <ion-icon name="close-outline"></ion-icon>
      </button>

      <div class="newsletter-img">
        <img src="images/logoo.png" alt="subscribe newsletter" width="400" height="400">
        
      </div>

      <div class="newsletter">

        <form action="#">

          <div class="newsletter-header">

            <h2 class="newsletter-title">Subscribe Newsletter.</h2>

            <p class="newsletter-desc">
              Subscribe the <b>ElectroHub</b> to get latest products and discount update.
            </p>

          </div>

          <input type="email" name="email" class="email-field" placeholder="Email Address" required>

          <button type="submit" class="btn-newsletter">Subscribe</button>

        </form>

      </div>

    </div>

  </div>





  <!--
    - NOTIFICATION TOAST
  -->

  <div class="notification-toast" data-toast>

    <button class="toast-close-btn" data-toast-close>
      <ion-icon name="close-outline"></ion-icon>
    </button>

    <div class="toast-banner">
      <img src="https://m.media-amazon.com/images/I/61lOc+KPlIL._AC_UL320_.jpg" alt="drones" width="80" height="70">
    </div>

    <div class="toast-detail">

      <p class="toast-message">
        Someone in new just bought
      </p>

      <p class="toast-title">
        Drones
      </p>

      <p class="toast-meta">
        <time datetime="PT2M">2 Minutes</time> ago
      </p>

    </div>

  </div>




  <!--HEADER-->

  <header>

    <div class="header-top">

      <div class="container">

        <ul class="header-social-container">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

        </ul>

        <div class="header-alert-news">
          <h2>
            <b>Free Shipping</b>
            This Week Order Over - $55
          </h2>
        </div>

        <div class="header-top-actions">

          <select name="currency">

            <option value="usd">USD &dollar;</option>
            <option value="eur">EUR &euro;</option>

          </select>

          <select name="language">

            <option value="en-US">English</option>
            <option value="es-ES">Espa&ntilde;ol</option>
            <option value="fr">Fran&ccedil;ais</option>

          </select>

        </div>

      </div>

    </div>

    <div class="header-main">

      <div class="container">

  <a href="#" class="header-logo">
  <div class="logo-container">
    <img src="images/logoo.png" alt="ELECTROHUB's logo" width="80" height="80" class="circular-logo">
    <span class="logo-text">ELECTROHUB</span>
  </div>
  </a>

        <div class="header-search-container">

          <input type="search" name="search" class="search-field" placeholder="Enter your product name...">

          <button class="search-btn">
            <ion-icon name="search-outline"></ion-icon>
          </button>

        </div>

        <div class="header-user-actions">

          <button class="action-btn">
            <a href="login.html" class="action-btn">
              <ion-icon name="person-outline"></ion-icon>
              </a>
            
          </button>

          <button class="action-btn">
            <ion-icon name="heart-outline"></ion-icon>
            <span class="count">20</span>
          </button>

          <button class="action-btn">
            <ion-icon name="bag-handle-outline"></ion-icon>
            <span class="count">40</span>
          </button>

        </div>

      </div>

    </div>

    <nav class="desktop-navigation-menu">

      <div class="container" >

        <ul class="desktop-menu-category-list">

          <li class="menu-category">
            <a href="#" class="menu-title">Home</a>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">Categories</a>

            <div class="dropdown-panel">

              <ul class="dropdown-panel-list">

                <li class="menu-title">
                  <a href="#">Electronics</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Desktop</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Laptop</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Camera</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Tablet</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Headphone</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">
                    <img src="" alt="" width="20"
                      height="20">
                  </a>
                </li>

              </ul>

              <ul class="dropdown-panel-list">

                <li class="menu-title">
                  <a href="#">MOBILE PHONES</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">APPLE</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Huawei</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Samsung</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Realme</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">OPPO</a>
                </li>
                <li class="panel-list-item">
                  <a href="#">Xiaomi</a>
                </li>
                <li class="panel-list-item">
                  <a href="#">Honor</a>
                </li>




                <li class="panel-list-item">
                  <a href="#">
                    <img src="/assets/images/" alt="" width="20" height="20">
                  </a>
                </li>

              </ul>

              <ul class="dropdown-panel-list">

                <li class="menu-title">
                  <a href="#">ACCESSORIES</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Computer Accessories</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Mobile Accessories</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">WEARABLES</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Audio </a>
                </li>

                <li class="panel-list-item">
                  <a href="#">TV Accessories</a>
                </li>
                <li class="panel-list-item">
                  <a href="#"> Digital Camera</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">
                    <img src="/assets/images/" alt="" width="80" height="80">
                  </a>
                </li>

              </ul>

              <ul class="dropdown-panel-list">

                <li class="menu-title">
                  <a href="#">Electronics</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Smart Watch</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Smart TV</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Keyboard</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Mouse</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Microphone</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">
                    <img src="/assets/images/" alt="" width="80" height="80">
                  </a>
                </li>

              </ul>

            </div>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">MOBILE & TABLETS</a>

            <ul class="dropdown-list">

              <li class="dropdown-item">
                <a href="#">Mobile Phones</a>
                
              </li>

              <li class="dropdown-item">
                <a href="#">Tablets</a>
              </li>

              <li class="dropdown-item">
                <a href="#">IPADS</a>
              </li>

              <li class="dropdown-item">
                <a href="#">MACBOOK</a>
              </li>

            </ul>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">GAMING</a>

            <ul class="dropdown-list">

              <li class="dropdown-item">
                <a href="#">PLAYSTATION</a>
              </li>

              <li class="dropdown-item">
                <a href="#">GAMING ACCESSORIES</a>
              </li>

              <li class="dropdown-item">
                <a href="#">GAMING LAPTOPS</a>
              </li>

              <li class="dropdown-item">
                <a href="#">GAMES CD</a>
              </li>

            </ul>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">HOME APPLIANCES</a>

            <ul class="dropdown-list">

              <li class="dropdown-item">
                <a href="#">LARGE HOME APPLIANCES</a>
              </li>

              <li class="dropdown-item">
                <a href="#">SMALL HOME APPLIANCES</a>
              </li>

              <li class="dropdown-item">
                <a href="#">TVs</a>
              </li>

              <li class="dropdown-item">
                <a href="#">Air Conditioners</a>
              </li>

            </ul>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title"> corporate_solutions</a>

            <ul class="dropdown-list">

              <li class="dropdown-item">
                <a href="#">Business Computer</a>
              </li>

              <li class="dropdown-item">
                <a href="#">Business Printers</a>
              </li>

              <li class="dropdown-item">
                <a href="#">Servers</a>
              </li>

              <li class="dropdown-item">
                <a href="#">Surveillance</a>
              </li>

            </ul>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">Blog</a>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">Hot Offers</a>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">BEST SELLER</a>

            <ul class="dropdown-list">

              <li class="dropdown-item">
                <a href="#">Mobile Phones</a>
                
              </li>

              <li class="dropdown-item">
                <a href="#">Tablets</a>
              </li>

              <li class="dropdown-item">
                <a href="#">IPADS</a>
              </li>

              <li class="dropdown-item">
                <a href="#">MACBOOK</a>
              </li>

            </ul>
          </li>

        </ul>

      </div>

    </nav>

    <div class="mobile-bottom-navigation">

      <button class="action-btn" data-mobile-menu-open-btn>
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <button class="action-btn">
        <ion-icon name="bag-handle-outline"></ion-icon>

        <span class="count">30</span>
      </button>

      <button class="action-btn">
        <ion-icon name="home-outline"></ion-icon>
      </button>

      <button class="action-btn">
        <ion-icon name="heart-outline"></ion-icon>

        <span class="count">80</span>
      </button>

      <button class="action-btn" data-mobile-menu-open-btn>
        <ion-icon name="grid-outline"></ion-icon>
      </button>

    </div>

    <nav class="mobile-navigation-menu  has-scrollbar" data-mobile-menu>

      <div class="menu-top">
        <h2 class="menu-title">Menu</h2>

        <button class="menu-close-btn" data-mobile-menu-close-btn>
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>

      <ul class="mobile-menu-category-list">

        <li class="menu-category">
          <a href="home.html" class="menu-title">Home</a>
        </li>

        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">ACCESSORIES</p>

            <div>
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
            </div>
          </button>

          <ul class="submenu-category-list" data-accordion>

            <li class="submenu-category">
              <a href="#" class="submenu-title"></a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title"></a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title"></a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title"></a>
            </li>

          </ul>

        </li>

        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">MOBILES</p>

            <div>
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
            </div>
          </button>

          <ul class="submenu-category-list" data-accordion>

            <li class="submenu-category">
              <a href="#" class="submenu-title">SUMSUNG</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">IPHONE</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">HONOR</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">OPPO</a>
            </li>

          </ul>

        </li>

        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">LAPTOPS</p>

            <div>
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
            </div>
          </button>

          <ul class="submenu-category-list" data-accordion>

            <li class="submenu-category">
              <a href="#" class="submenu-title">LENOVO</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">HP</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">ACCER</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">DELL</a>
            </li>

          </ul>

        </li>

        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">ELECTRONICS</p>

            <div>
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
            </div>
          </button>

          <ul class="submenu-category-list" data-accordion>

            <li class="submenu-category">
              <a href="#" class="submenu-title">ACCESSORIESES</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">CAMERA</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">DRONES</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">MOBILE</a>
            </li>

          </ul>

        </li>

        <li class="menu-category">
          <a href="#" class="menu-title">Blog</a>
        </li>

        <li class="menu-category">
          <a href="#" class="menu-title">Hot Offers</a>
        </li>

      </ul>

      <div class="menu-bottom">

        <ul class="menu-category-list">

          <li class="menu-category">

            <button class="accordion-menu" data-accordion-btn>
              <p class="menu-title">Language</p>

              <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
            </button>

            <ul class="submenu-category-list" data-accordion>

              <li class="submenu-category">
                <a href="#" class="submenu-title">English</a>
              </li>

              <li class="submenu-category">
                <a href="#" class="submenu-title">Espa&ntilde;ol</a>
              </li>

              <li class="submenu-category">
                <a href="#" class="submenu-title">Fren&ccedil;h</a>
              </li>

            </ul>

          </li>

          <li class="menu-category">
            <button class="accordion-menu" data-accordion-btn>
              <p class="menu-title">Currency</p>
              <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
            </button>

            <ul class="submenu-category-list" data-accordion>
              <li class="submenu-category">
                <a href="#" class="submenu-title">USD &dollar;</a>
              </li>

              <li class="submenu-category">
                <a href="#" class="submenu-title">EUR &euro;</a>
              </li>
            </ul>
          </li>

        </ul>

        <ul class="menu-social-container">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </nav>

  </header>
 <!--
    - custom js link
  -->
  <script src="./assets/js/script2.js"></script>
  <script src="./assets/js/script.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script width="140" height="200"pt src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
     <script>
        document.addEventListener('DOMContentLoaded', function () {
    const booksSwiper = new Swiper('.books-slider', {
        loop: true,
        slidesPerView: 3,
        spaceBetween: 10,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },    autoplay: {
        delay: 2500,
        disableOnInteraction: false,
    },
    breakpoints: {
        0: {
            slidesPerView: 3,
        },
        768: {
            slidesPerView: 3,
        },
        1024: {
            slidesPerView: 3,
        },
    },

        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
});
document.addEventListener('DOMContentLoaded', function () {
    // Initialize Swiper for featured slider
    const featuredSlider = new Swiper(".featured-slider", {
        loop: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        breakpoints: {
            0: {
                slidesPerView: 2,
            },
            768: {
                slidesPerView: 3,
            },
            1024: {
                slidesPerView: 5,
            },
        },
    });
});
// Carousel Auto-Cycle
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 6000
    })
  });

      </script>
</body>

</html>

